<li class="mb-1"
  [ngClass]="{'list-group-item': true, 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
  <div class="row">
    <h2 class="col-sm-6">{{post.title}}</h2>
    <div class="col-sm-5 text-right">{{post.created_at | date: 'dd/MM/yyyy hh:mm'}}</div>
    <div class="col-sm-1 text-right"><a routerLink="" (click)="removeItem(post.id)">&times;</a></div>
  </div>
  <p>{{ post.content }}</p>
  <div>
    <small>Nombre de likes : {{ post.loveIts }}</small>
  </div>
  <button type="button" class="btn btn-success mr-1" (click)="increase(1)">Love It!</button>
  <button type="button" class="btn btn-danger" (click)="increase(-1)">Don't love It!</button>
</li>